<a href="https://colab.research.google.com/github/UDDSI/COVID19hackathon/blob/master/projects/SupportTrack/how_to_geocode_addresse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# author: Federica Bianco (@fedhere)

geocoding example

In [34]:
# read in some data
import pandas as pd
import numpy as np
exampledata = pd.read_csv("https://raw.githubusercontent.com/UDDSI/COVID19hackathon/master/projects/SupportTrack/testaddresses.csv")
exampledata

   Unnamed: 0  ...                                       Location
0           1  ...                     St Thomas Episcopal Church
1           2  ...                            St. Andrew's Church
2           3  ...  Westminster House - First Presbyterian Church
3           4  ...                       Trinity Episcopal Parish
4           5  ...                         Twelve and Twelve Club
5           6  ...            Red Clay Creek Presbyterian Churchi
6           7  ...                   St Nicholas Episcopal Church
7           8  ...         First Baptist Church Of Kennett Square
8           9  ...                             Tower Hill Schooli

[9 rows x 3 columns]

In [35]:
#install and runn geopy for geocoding: does not require an api key
!pip install geopy
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter 

#locator is a function with a defined what software you want to use
locator = Nominatim(user_agent='myGeocoder')
# this is the workhorse: the function you will pass to the dataframe series (column) to convert it
geocode = RateLimiter(locator.geocode, min_delay_seconds=0.5)
#location is the address, but it only includes the street or some vague location, we should add at least the state: DE
#because its a string we can just sum it to the other string ",DE"
exampledata["Location"] = exampledata["Location"] + ",DE"
# the apply the geocode to that modified location, this geocode contains proper address and coordinates
exampledata["geocodedloc"] = exampledata["Location"].apply(geocode)
exampledata

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

   Unnamed: 0  ...                                        geocodedloc
0           1  ...  (Saint Thomas Episcopal Church, Sky Manor Road...
1           2  ...  (St. Andrew's Church, Whannels Road, Ward 61, ...
2           3  ...  (First Presbyterian Church, Cedarwood Street, ...
3           4  ...  (Trinity Episcopal Parish, Kimball Avenue, Ora...
4           5  ...  (Twelve  Twelve, Laurel Street, The Gulch West...
5           6  ...                                               None
6           7  ...  (Saint Nicholas Episcopal Church, Mayflower Dr...
7           8  ...  (First Baptist Church of Kennett Square, West ...
8           9  ...                                               None

[9 rows x 4 columns]

In [36]:
# each new entry of the df is a Location object
exampledata["geocodedloc"][0]

Location(Saint Thomas Episcopal Church, Sky Manor Road, Alvater Corner, Franklin Township, Hunterdon County, New Jersey, 08867, United States of America, (40.5606581, -74.9890584, 0.0))

In [37]:
# the first piece of the location object is the address
exampledata["geocodedloc"][0][0]

'Saint Thomas Episcopal Church, Sky Manor Road, Alvater Corner, Franklin Township, Hunterdon County, New Jersey, 08867, United States of America'

In [38]:
# the second piece of the location object is the address
exampledata["geocodedloc"][0][1]

(40.5606581, -74.9890584)

In [39]:
# save the coordinates in a new dataframe column
# the first piece of the location object is the address
exampledata["coords"] = [l[1] for l in exampledata["geocodedloc"]]

TypeError: ignored

In [0]:
#this throws an error because one of the locations was not geocoded: the last row has None at the location place
exampledata["coords"] = [l[1] if not l is None else (np.nan, np.nan) for l in exampledata["geocodedloc"]]

In [41]:
exampledata

   Unnamed: 0  ...                                  coords
0           1  ...               (40.5606581, -74.9890584)
1           2  ...  (13.079534500000001, 80.2640593976282)
2           3  ...              (33.7586111, -117.9944444)
3           4  ...               (42.4508435, -92.3556745)
4           5  ...       (36.15361185, -86.78633588189373)
5           6  ...                              (nan, nan)
6           7  ...               (43.5523059, -70.3731052)
7           8  ...        (39.8463314, -75.71653844057379)
8           9  ...                              (nan, nan)

[9 rows x 5 columns]

this is a particularly bad result, only 2 addesses are probably right, that is because the addresses were very vague at the beginning. but it still demonstrated the concept and also the perils of it!